.section-7 {
  background-color: #aea2f4;
  .section__content {
    text-align: center;
  }
  .breadcrumbs {
    position: relative;
    height: 39px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #e9e6df;
    counter-reset: flag;
    a {
      height: 39px;
      line-height: 100%;
      padding: 10px 10px 10px 50px;
      position: relative;
      outline: none;
      color: #294086;
    }
    a::after {
      content: "";
      position: absolute;
      width: 36px;
      height: 36px;
      background-color: #e9e6df;
      z-index: 1;
      top: 0;
      right: -18px;
      box-shadow: 1px 1px 0 1px #dddddd;
      border-radius: 50px 0 0 0;
      transform: rotate(-45deg) scale(0.73);
    }
    a::before {
      position: absolute;
      top: 8px;
      left: 23px;
      content: counter(flag);
      line-height: 20px;
      counter-increment: flag;
      box-shadow: 0 0 2px 0 #cccccc;
      height: 20px;
      width: 20px;
      background-color: #e9e6df;
      border-radius: 50%;
    }
    a:hover,
    a:hover::after,
    a.active,
    a.active::after {
      background-color: #edbede;
    }
    a:first-child {
      padding-left: 46px;
    }
    a:first-child::before {
      left: 14px;
    }
  }
}
