.section-6 {
  background-color: #aea2f4;
  .section__content {
    margin: 40px auto;
    max-width: 350px;
  }
  .slaider {
    // .slaider__controls
    position: relative;
    &__controls {
      text-align: center;
      margin-bottom: 20px;
      label {
        display: inline-block;
        margin: 0 3px;
        width: 10px;
        height: 10px;
        cursor: pointer;
        border-radius: 50%;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
        border: 2px solid white;
        background-color: #cccccc;
      }
    }
    input[type="radio"] {
      display: none;
    }
    // .slaider__controls

    &__inner {
      overflow: hidden;
      filter: drop-shadow(0 0 8px #666666);
    }
    &__slaides {
      max-width: 300%;
      display: flex;
      flex-wrap: nowrap;

      transition: transform 0.8s ease;
      img {
        flex: 1 1 auto;
        border: 2px solid #666666;
        max-width: 350px;
        width: 100%;
      }
    }
  }
}
#btn-1:checked ~ .slaider__controls label[for="btn-1"],
#btn-2:checked ~ .slaider__controls label[for="btn-2"],
#btn-3:checked ~ .slaider__controls label[for="btn-3"] {
  background-color: #666666;
}

#btn-1:checked ~ .slaider__inner .slaider__slaides {
  transform: translate(0);
}
#btn-2:checked ~ .slaider__inner .slaider__slaides {
  transform: translate(-350px);
}
#btn-3:checked ~ .slaider__inner .slaider__slaides {
  transform: translate(-700px);
}
