.section-7 {
  background-color: #aea2f4;
  .section__content {
    text-align: center;
  }
  .breadcrumbs {
    height: 39px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    a {
      height: 39px;
      line-height: 100%;
      padding: 10px 10px 10px 50px;
      position: relative;
      outline: none;
    }
    a::after {
      content: "";
      position: absolute;
      width: 36px;
      height: 36px;
      background-color: #ffffff;
      z-index: 1;
      top: 0;
      right: -18px;
      box-shadow: 1px 1px 0 1px #dddddd;
      border-radius: 50px 0 0 0;
      transform: rotate(-45deg) scale(0.73);
    }
    a:hover,
    a:hover::after,
    a.active,
    a.active::after {
      background-color: #f1c40f;
    }
  }
}
